.chart {
    width: 100%;
    height: 100%;
    text-align: center;
}

button {
    align-content: center;
    width: 20%
}

.centerButtons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.centerButtons>* {
    width: 30%;
    margin: 10px;
}