/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./variables.scss";

body {
    padding-top: 60px;
    overflow-y: scroll;
}

nav {
    background-color: $--bs-bg-primary;
}

.bs-grid {
    background-color: $--bs-bg-primary;
    margin: 10px;
}

.btn-add-tr {
    font-size: x-large;
    background-color: rgba(0, 151, 91, 0.806);
    width: 100%;
    border: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: none;
    transition: 0.3s;
}

.btn-add-tr:hover {
    background-color: rgba(11, 139, 88, 0.806);
}

.db-table {
    margin-bottom: 0 !important;
}

.corners-round {
    border-radius: 7px;
}

.table-collapse-header {
    background-color: $--bs-bg-secondary !important;
}

.icon-delete {
    color: $--bs-icon-delete !important;
}

.icon-edit {
    color: $--bs-bg-primary !important;
}

.underconstruction {
    margin: 30px auto;
    background-image: url($--bs-image-construction);
    height: 400px;
    width: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
  
::ng-deep .tabset-link {
    color: $--bs-bg-primary;
}

// ::ng-deep .tabset-link :active {
//     color: $--bs-bg-secondary;
// }
