<div class="form-header">
    <div *ngIf="updateMode">
        <h3>Edit {{title}}</h3>
    </div>
    <div *ngIf="!updateMode">
        <h3>Add {{title}}</h3>
    </div>
</div>
<hr>
<form *ngIf="(!updateMode) ||(flightToUpdate$ | async) ; else loading" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="row">
        <div class="row accent-grey pt-1 my-1 rounded">
            <div class="col">
                <label for="setFlightNumber" class="form-label">
                    Flight Number
                </label>
            </div>
            <div class="col-8">
                <input type="text" formControlName="flightNumber" class="form-control mb-1" placeholder="Flight Number" />
            </div>
        </div>

        <div class="container mb-3 text-center">
            <input type="text" formControlName="flightNumber" class="form-control mb-1" placeholder="Flight Number" />
            <!-- <label class="form-label">Arrival</label> -->
            <input type="datetime-local" formControlName="arrival" class="form-control mb-1" placeholder="Arrival" />
            <!-- <label class="form-label">Departure</label> -->
            <input type="datetime-local" formControlName="departure" class="form-control mb-1"
                placeholder="Departure" />
            <!-- <label class="form-label">Destination</label> -->
            <input type="text" formControlName="destination" class="form-control mb-1" placeholder="Destination" />
            <!-- <label class="form-label">AircraftType</label> -->
            <select formControlName="aircraftType" class="form-control mb-1">
                <!-- <ng-template *ngIf="!updateMode" > -->
                <option *ngIf="!updateMode" value="" disabled="disabled" selected="true">Please select an Aircraft Type
                </option>
                <option *ngIf="updateMode" [ngValue]="flightToUpdate$" disabled="disabled" selected="true">Please select
                    an Aircraft Type</option>
                <option *ngFor="let aircraftType of aircrafttypeService.currentType$ | async" [ngValue]="aircraftType">
                    {{aircraftType.name + " | UnitLoadOption: " + aircraftType.hasUnitLoadOption}}
                </option>
                <!-- </ng-template> -->
                <!-- <ng-template #ELSE>
                    <option disabled="disabled" selected="true"></option>
                    <option *ngFor="let aircraftType of aircrafttypeService.currentType$ | async"
                        [ngValue]="aircraftType">
                        {{aircraftType.name + " | UnitLoadOption: " + aircraftType.hasUnitLoadOption}}
                    </option>
                </ng-template> -->
            </select>
            <div class="text-center" *ngIf="!updateMode; else update">
                <button class="btn btn-outline-success me-2" [disabled]="form.invalid" name="btnSubmit"
                    type="submit">Add Flight</button>
                <button class="btn btn-danger" type="button" name="btnCancel" (click)="cancel()">Cancel</button>
            </div>
            <ng-template #update class="text-center">
                <button class="btn btn-outline-success me-2" [disabled]="form.invalid" name="btnSubmit"
                    type="submit">Update Flight</button>
                <button class="btn btn-danger" type="button" name="btnCancel" (click)="cancel()">Cancel</button>
            </ng-template>
        </div>
    </div>
</form>

<ng-template #loading>
    Loading Flight Form ...
</ng-template>